<form role="form">
	<h2>{{errorMessage}}</h2>
	<fieldset>
		<div class="form-group">
			<label for="description">Description</label>
			{{input value=description placeholder="Description" class="form-control" id="notes"}}
		</div>
		<div class="form-group">
			<label for="notes">Notes</label>
			{{input value=notes placeholder="Notes" class="form-control" id="notes"}}
		</div>
		<button class="btn btn-success" {{action "save"}}>Save</button>
		<button class="btn btn-danger" {{action "cancel"}}>Cancel</button>
	</fieldset>
</form>