<table class="table table-striped">
	<thead>
		<tr>
			<th>Description</th>
			<th>Notes</th>
			<th>Borrowed since</th>
			<th>State</th>
		</tr>	
	</thead>
	<tbody>
		{{#each itemController='articles/item'}}
			<tr>
				<td>{{description}}</td>
				<td>{{notes}}</td>
				<td>{{createdAt}}</td>
				<td>{{view Ember.Select content=states selection=state}}</td>
				<td>
					{{#if isSaving}}
						<p>Saving...</p>
					{{else}}
						{{#if isDirty}}
							<button {{action "save" this class="btn btn-success"}}>Save</button>
						{{/if}}
					{{/if}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>